:root {
    --color1: #6cb5cb;
    --color2: #b7d8de; 
    --color3: #fbf5ef; 
    --color4: #fe7236; 
}

*{
    margin: 0;
    padding: 0;
}
header{
    font-family: Raleway;
    background-color:#6cb5cb;
    margin: 0 50px;
    margin-bottom: 0;
    padding: 0px 55px;
    border-radius: 45px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

}
nav{
    height: 65px;
    display: flex;
    justify-content: flex-end;
    
}
.link-container a.active {
    background-color:#fbf5ef ;
    padding: 17px 13px;
    color: #6cb5cb;
}
.link-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav a{
    font-size: 14px;
    font-weight: 400;
    height: 50%;
    padding: 0px 20px;
    display: flex;
    text-decoration: none;
    align-items: center;
    color: #fbf5ef;
}
nav a:hover{
    border-radius: 35px;
    background-color:#fbf5ef;
    color: #6cb5cb;
    transform: scale(1.3);
    transition: 0.2s ease-out;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}
nav .home-link{
    font-weight: 500;
    color: var(--color3);
    margin-right: auto;
    font-family: 'Gloock', Courier, monospace;
    font-size: 23px;
    border-right: 2px solid var(--color3);
    
}    
nav h6{
    padding-right: 10px;
    padding-left: 0;
    margin: 0;
}

nav svg{
    fill: #fff;
}
#sidebar-active{
    display: none;
}
.open-sidebar-button, .close-sidebar-button{
    display: none;
}

@media(max-width: 580px){
    .link-container{
        display: none;
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 10;
        width: 300px;
        background-color: #EDA35A;
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        transform: 3s ease-out;
    }
    nav a{
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
    }
    nav a:hover{
        background-color: #CADCAE;
    }
    .open-sidebar-button, .close-sidebar-button{
    padding: 20px;
    display: block;
    }
    #sidebar-active:checked ~ .link-container{
        display: flex;
    }

}