:root {
    --color1: #6cb5cb;
    --color2: #b7d8de; 
    --color3: #fbf5ef; 
    --color4: #fe7236; 
}

.section-2 {
  height: 100vh;
  
  background-color: var(--color1);
  display: flex;
  align-items: center;
}

.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  margin: 0 auto;
  padding: 40px;
  max-width: 1200px;
}

.about-left {
  color: var(--color3);
  font-family: Raleway;
}

.map-location-text{
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    font-weight: bold;
    font-style: italic;
}
.map-container {
  margin: 20px 0;
}

.map-container iframe {
  width: 100%;
  height: 450px;
  border: none;
  border-radius: 25px; 
  border: 3px solid var(--color3s);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.about-right {
  color: var(--color3);
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: justify;
  border-left: 2px solid var(--color2);
  padding-left: 50px;
}
.about-right #about-us{
  margin-bottom: 11px;
  font-size: 3.5rem;
  font-family: 'Gloock', Courier, monospace;
  border-bottom: 2px solid var(--color2);
}
